# node modules
node_modules/
client/node_modules/
server/node_modules/

# build files
client/dist/

# env files
.env
client/.env
client/.env.production
server/.env

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
